<%
    let newindice  =  0;
    let indexTab = [0];
    let slide = [alaune[0]];
    console.log(alaune.length)
    while(slide.length < 4){
        newindice = Math.floor(Math.random() * alaune.length);
        while(indexTab.indexOf(newindice) != -1){
            newindice = Math.floor(Math.random() * alaune.length);
        }
        slide.push(alaune[newindice]);
        indexTab.push(newindice);
    }
%>
<div class="row no-gutter item-info-overlay">
    
    <div class="col-sm-6">
        <div id="post_widget-2" class="widget-4 widget-even widget-alt widget widget_post_widget">
            <div class="row item-grid ">
                <div class="col-xs-6 col-sm-6">
                    <div class="item r item-track"  onclick="reload('<%= slide[0].fichier %>'); return false;"  data-id="59">
                        <div class="item-media item-media-1by2">
                            <a href="#" class="item-media-content" style="background-image: url(/images/couverture/<%= slide[0].emission.couverture %>);"></a>
                            <div class="item-overlay center">
                                <button  class="btn-playpause">Play</button>
                            </div>
                        </div>
                        <div class="item-info">
                            <div class="item-overlay bottom text-right">
                                <a class="btn-like " data-site-id="1" data-post-id="59" data-count="52">
                                    <span class="">
                                        <i class="fa fa-heart-o"></i>
                                        <i class="active fa fa-heart text-primary"></i>
                                    </span>
                                </a>
                                <a href="#" class="btn-more" data-toggle="dropdown">
                                    <i class="fa fa-ellipsis-h"></i>
                                </a>
                                <div class="dropdown-menu pull-right l-h grey lt"></div>
                            </div>
                            <div class="item-title text-ellipsis">
                                <a href="#"><%= slide[0].emission.nomEmission %></a>
                            </div>
                            <div class="item-author text-sm text-ellipsis text-muted">
                                <a href="#" title="Posts by Miaow" rel="author">Diffusé le <%= slide[0].dateDif %></a>                    
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6">
                    <div class="item r item-track"  onclick="reload('<%= slide[1].fichier %>'); return false;"  data-id="61">
                        <div class="item-media item-media-1by2">
                            <a href="#" class="item-media-content" style="background-image: url(/images/couverture/<%= slide[1].emission.couverture %>);"></a>
                            <div class="item-overlay center">
                                <button  class="btn-playpause">Play</button>
                            </div>
                        </div>
                        <div class="item-info">
                            <div class="item-overlay bottom text-right">
                                <a class="btn-like " data-site-id="1" data-post-id="61" data-count="21">
                                    <span class="">
                                        <i class="fa fa-heart-o"></i>
                                        <i class="active fa fa-heart text-primary"></i>
                                    </span>
                                </a>
                                <a href="#" class="btn-more" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
                                <div class="dropdown-menu pull-right l-h grey lt"></div>
                            </div>
                            <div class="item-title text-ellipsis">
                                <a href="#"><%= slide[1].emission.nomEmission %></a>
                            </div>
                            <div class="item-author text-sm text-ellipsis text-muted">
                                <a href="#" title="Posts by Miaow" rel="author">Diffusé le <%= slide[1].dateDif %></a>                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div id="post_widget-2" class="widget-4 widget-even widget-alt widget widget_post_widget">
            <div class="row item-grid ">
                <div class="col-xs-6 col-sm-6">
                    <div  onclick="reload('<%= slide[2].fichier %>'); return false;"  class="item r  item-track" data-id="59">
                        <div class="item-media item-media-1by2">
                            <a href="#" class="item-media-content" style="background-image: url(/images/couverture/<%= slide[2].emission.couverture %>);"></a>
                            <div class="item-overlay center">
                                <button  class="btn-playpause">Play</button>
                            </div>
                        </div>
                        <div class="item-info">
                            <div class="item-overlay bottom text-right">
                                <a class="btn-like " data-site-id="1" data-post-id="59" data-count="52">
                                    <span class="">
                                        <i class="fa fa-heart-o"></i>
                                        <i class="active fa fa-heart text-primary"></i>
                                    </span>
                                </a>
                                <a href="#" class="btn-more" data-toggle="dropdown">
                                    <i class="fa fa-ellipsis-h"></i>
                                </a>
                                <div class="dropdown-menu pull-right l-h grey lt"></div>
                            </div>
                            <div class="item-title text-ellipsis">
                                <a href="#"><%= slide[2].emission.nomEmission %></a>
                            </div>
                            <div class="item-author text-sm text-ellipsis text-muted">
                                <a href="#" title="Posts by Miaow" rel="author">Diffusé le <%= slide[2].dateDif %></a>                    
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6">
                    <div  onclick="reload('<%= slide[3].fichier %>'); return false;"  class="item r item-track" data-id="61">
                        <div class="item-media item-media-1by2">
                            <a href="#" class="item-media-content" style="background-image: url(/images/couverture/<%= slide[3].emission.couverture %>);"></a>
                            <div class="item-overlay center">
                                <button  class="btn-playpause">Play</button>
                            </div>
                        </div>
                        <div class="item-info">
                            <div class="item-overlay bottom text-right">
                                <a class="btn-like " data-site-id="1" data-post-id="61" data-count="21">
                                    <span class="">
                                        <i class="fa fa-heart-o"></i>
                                        <i class="active fa fa-heart text-primary"></i>
                                    </span>
                                </a>
                                <a href="#" class="btn-more" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
                                <div class="dropdown-menu pull-right l-h grey lt"></div>
                            </div>
                            <div class="item-title text-ellipsis">
                                <a href="#"><%= slide[3].emission.nomEmission %></a>
                            </div>
                            <div class="item-author text-sm text-ellipsis text-muted">
                                <a href="#" title="Posts by Miaow" rel="author">Diffusé le <%= slide[3].dateDif %></a>                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>